@using Client.Models
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
    string data = Context.Session.GetString("product");
    List<InStock> inStocks = System.Text.Json.JsonSerializer.Deserialize<List<InStock>>(data);

    string data2 = Context.Session.GetString("info");
    List<InputInfo> input = System.Text.Json.JsonSerializer.Deserialize<List<InputInfo>>(data2);

    string data3 = Context.Session.GetString("output");
    List<API.Models.OutputInfo> output = System.Text.Json.JsonSerializer.Deserialize<List<API.Models.OutputInfo>>(data3);
}
<div class="content-wrapper" style="background-color:#bddcff;">
    <div class="row">
        <div class="col-md-12 grid-margin">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Lượng nhập</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">P 34,040.00</h3>
                        <i class="ti-calendar icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <p class="mb-0 mt-2 text-danger"><span class="text-black ml-1"><small>This Month</small></span></p>

                </div>
            </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Lượng xuất</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">P 30,118.00</h3>
                        <i class="ti-calendar icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <p class="mb-0 mt-2 text-danger"><span class="text-black ml-1"><small>This Month</small></span></p>

                </div>
            </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-left">Tồn kho</p>
                    <div class="d-flex flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <h3 class="mb-0 mb-md-2 mb-xl-0 order-md-1 order-xl-0">P 306,897.00</h3>
                        <i class="ti-calendar icon-md text-muted mb-0 mb-md-3 mb-xl-0"></i>
                    </div>
                    <p class="mb-0 mt-2 text-danger"><span class="text-black ml-1"><small>This Month</small></span></p>

                </div>
            </div>
        </div>
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-12">Sản phẩm tồn kho</p>
                    <div class=" flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <table id='example1' class="table table-hover">
                            <thead style="font-size:10px">
                                <tr>
                                    <th>ProductId</th>
                                    <th>ProductName</th>
                                    <th>Quantity</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in inStocks)
                                {
                                    <tr>

                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Quantity</td>

                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-12">Đơn nhập</p>
                    <div class=" flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <table class="table table-hover">
                            <thead style="font-size:10px">
                                <tr>
                                    <th>ProductId</th>
                                    <th>Product Name</th>
                                    <th> Quantity</th>
                                    <th> Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in input)
                                {
                                    <tr>

                                        <td>@item.IdObjectNavigation.Id</td>
                                        <td>@item.IdObjectNavigation.DisplayName</td>
                                        <td>@item.Count</td>
                                        <td>@item.IdInputNavigation.DateInput</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title text-md-center text-xl-12">Đơn xuất</p>
                    <div class=" flex-wrap justify-content-between justify-content-md-center justify-content-xl-between align-items-center">
                        <table class="table table-hover">
                            <thead style="font-size:10px">
                                <tr>
                                    <th>ProductId</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in output)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.IdObjectNavigation.DisplayName</td>
                                        <td>@item.Count</td>
                                        <td></td>

                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
